
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.body {
	font-family: 'Montserrat', sans-serif;
    
    background: #222222;
	font-size: 15px;
	color: #fff;

	margin: 0;

}
html {
  
 
  background: #222222;
}

.left_nav {
	position: relative;
	width: 100%;
    
	max-width: 310px;
	margin-left: 0;
}

.nav_points {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;

	text-decoration: none;
}

.container {
	width: 100%;
    max-width: 1550px;
   
    margin-left:  300px ;
}
.intro {
	width: 1585px;
	height: 1022px;
    margin-top: 20px;
    margin-bottom: 30px;
	
	
	
	
	background: url("../images/bg-main-scr1.png") right  no-repeat ;
}

.intro_about {
	width: 1585px;
	height: 1022px;
    margin-top: 20px;
    margin-bottom: 30px;
	position: absolute;
	
	
	background: url("../images/Group 150.png") right  no-repeat ;
}



.content {
	width:460px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 56px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 7.1px;
	margin: 0;
	position: absolute;
	top:330px;
	left:495px;
}

.suptitle {
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	position: absolute;
	top:290px;
	left:495px;
	font-weight: 400;
	letter-spacing: 3.5px;
	opacity: 0.7;
	margin:0;
}

.subtitle {
	width: 420px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	position: absolute;
	top:500px;
	left:495px;
	font-weight: 300;
	opacity: 0.8;
	line-height:23px;
}

.sidebar {
	width: 100%;
	height: 100vh;
	position: absolute;
	top:30px;
	left:30px;
	max-width: 310px;
	background: url("../images/logo.png") no-repeat;
}

.sidebar ul {
	margin-top: 250px;
	list-style-type: none;
	padding:0;

}

.sidebar li {
	margin-top: 43px;
	list-style-type: none;

}

.sidebar a:active{
  color: #fff123;
}



.sidebar_part {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#999999;
    font-weight: 500;
    letter-spacing: 0.9px;
 
}

.sidebar_part:active {
	color: #fff;
}


.btn-lang {

	border: 0;
 font-family: 'Montserrat', sans-serif;
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  background: #444444;
  width: 60px;
  height: 60px;
  text-decoration: none;
   letter-spacing: 1px;
}

 .btn-lang:hover {
  background: #abb3b8;
  text-decoration: none;
}

.btn-order-voice-sidebar {
	position: absolute;
	top:958px;
	left:90px;
	border: 1px solid;

	border-color: #75D2CC;
 font-family: 'Montserrat', sans-serif;
  color: #75D2CC;
  font-size: 14px;
  font-weight: 400;
  background: transparent;
  width: 190px;
  height: 60px;
  text-decoration: none;
  letter-spacing: 2px;
}

 .btn-order-voice-sidebar:hover {
  background: #222222;
  text-decoration: none;
}

.btn-order-voice-main {
  width: 267px;
  height: 60px;
  border: 1px solid;
  border-color: #75D2CC;
  font-family: 'Montserrat', sans-serif;
  color: #75D2CC;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  position: absolute;
	top:656px;
	left:495px;
	 text-decoration: none;
  letter-spacing: 2px;
}

 .btn-order-voice-main:hover {
  background: #222222;
  text-decoration: none;
}

.btn-previous {
  width: 100%;
  max-width: 40px;
  border:0;
  position: absolute;
  left: 850px;
  top: 1005px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: transparent;
  color:#222222;
  
  letter-spacing: 1.7px;
}

.btn-next {
  width: 100%;
  max-width: 40px;
  border:0;
  position: absolute;
  left: 1345px;
  top: 1005px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: transparent;
  color:#333333;
  letter-spacing: 1.7px;
}

.selected__page{
	position: absolute;
	left:1730px;
	top:990px;
	  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
   color: #75D2CC;
}

.selected__page{
	position: absolute;
	left:1710px;
	top:992px;
	  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
   color: #75D2CC;
}

.all_pages {
	position: absolute;
	left:1745px;
	top:1010px;
	  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
   color: #333333;
   
}

.btn-lang {
	position: absolute;
	top:959px;
	border: 0;
 font-family: 'Montserrat', sans-serif;
  color: #fff;
  opacity: 0.7;
  font-size: 14px;
  background: #444444;
  width: 60px;
  height: 60px;
  text-decoration: none;
   letter-spacing: 1px;
}

 .btn-lang:hover {
  background: #abb3b8;
  text-decoration: none;
}

.btn_next_arrow {
	position: absolute;
	top:990px;
	left: 1833px;
	border: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  opacity: 0.7;
  font-size: 24px;
  background: #444444;
  width: 60px;
  height: 60px;
  text-decoration: none;
   letter-spacing: 1px;
}

 .btn_next_arrow:hover {
  background: #abb3b8;
  text-decoration: none;
}

.btn_prev_arrow {
	position: absolute;
	top:990px;
	left: 1772px;
	border: 0;
 font-family: 'Montserrat', sans-serif;
  color: #fff;
  opacity: 0.7;
  font-size: 24px;
  background: #444444;
  width: 60px;
  height: 60px;
  text-decoration: none;
   letter-spacing: 1px;
}

 .btn_prev_arrow:hover {
  background: #abb3b8;
  text-decoration: none;
}

.numbers_about_container {
  width: 100%;
  max-width: 306px;
  height: 164px;
  margin-top: 90px;
  opacity: 1;
}

.numbers_about_container h2 {
   font-family: 'Montserrat', sans-serif;
   color: transparent;
   font-size: 120px;
   font-weight: 700;
   margin-bottom: 1px;
   -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    margin-block-start: 0.7em;
    margin-block-end: 0.6em;
    position: absolute;
    left: 155px;
}

.numbers_about_container h3  {
	
    position: absolute;
    color: #fff;
    letter-spacing: 0.9px;
    left: 155px;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;

   
}


.subtitle_about_container {
	width: 100%;
	max-width: 463px;
	height: 64px;
	position: absolute;
	left: 137px;
	margin-bottom: 20px;

}

.about_title {
	left: 930px;
	top: 212px;
	color: #222222;
}

.btn-about {
	top:580px;
	left:495px;
}

.btn-about-more {
    left:1240px;
    top:694px;
    padding-right: 80px;
      letter-spacing: 0.8px;
}




.subtitle_about{
	left: 930px;
	top:420px;
	opacity: 1;
	color: #444444;
	font-weight: 300;
	
	text-decoration: none;
}

.intro_advantages {
	background: url("../images/bg.png") right  no-repeat ;
}


.advantages_title {
	width:660px;
	left:495px;
	top: 156px;
	
	color: #fff;
}

.suptitle-advantages{
	top: 120px;
	left:725px;
	margin 0 auto;
}

.intro_services {
	background: url("../images/home4 (1).jpg") right  no-repeat ;
}

.services-title {
	width:660px;
	left:571px;
	top: 256px;
	
	color: #fff;
}

.suptitle-services{
	top: 220px;
	left:739px;
	margin 0 auto;
}

.title_list_services {
  font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   color: #FFFFFF;
   position: absolute;
   top:426px;

}

.title_list_services li {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; 
    grid-template-areas: "index-list"
    &-list
    grid-area: list;
	text-decoration: none;
	
}

.container_grid {
	
    
}

.intro_languages {
	background: url("../images/languages.jpg") right  no-repeat ;
}

.languages-title {
	width:660px;
	left:185px;
	top: 400px;
	
	color: #222222;
}

.suptitle-languages{
	top: 364px;
	left:185px;
	margin 0 auto;
	color: #999999;
    font-weight: 400;
    letter-spacing: 1.4px;
    opacity:1; 

}

.btn-more-languages {
	left:185px;
	top:596px;
	 width: 267px;
   height: 60px;
}

.english_path {
	position: absolute;
	left:850px;
	top:110px;
}

.arabic_path {
	position: absolute;
	left:850px;
	top:270px;
}
.portu_path {
	position: absolute;
	left:860px;
	top:430px;
}

.russian_path {
	position: absolute;
	left:850px;
	top:590px;
}

.chinese_path {
	position: absolute;
	left:850px;
	top:750px;
}

.french_path {
	position: absolute;
	left:1130px;
	top:180px;
}

.spanish_path {
	position: absolute;
	left:1130px;
	top:340px;
}

.german_path {
	position: absolute;
	left:1130px;
	top:510px;
}

.italian_path {
	position: absolute;
	left:1130px;
	top:670px;
}

.japanese_path {
	position: absolute;
	left:1130px;
	top:830px;
}

.countries_list-left  {
	 list-style-type: none;
	 position: absolute;
	 left: 900px;
	 top:125px;
	 font-family: 'Montserrat', sans-serif;
     font-size: 14px;
     font-weight: 500;
     letter-spacing: 1.5px;
     color: #222222;
}

.countries_list-right  {
	 list-style-type: none;
	 position: absolute;
	 left: 1180px;
	 top:190px;
	 font-family: 'Montserrat', sans-serif;
     font-size: 14px;
     font-weight: 500;
     letter-spacing: 1.5px;
     color: #222222;
}

.countries_list-left li{
	margin-bottom: 143px;

}
.countries_list-right li{
	margin-bottom: 143px;

}


.intro_reviewers {
	background: url("../images/index6bg.jpg") right  no-repeat ;
}

.reviews-title {
	width:660px;
	left:200px;
	top: 155px;
	
	color: #FFFFFF;
}

.suptitle-reviews{
	top: 120px;
	left:200px;
	margin 0 auto;
	color: #999999;
	opacity: 1;

}

.btn-all-reviews {
	left:200px;
	top:800px;
	 width: 267px;
   height: 60px;
}

.img_logos {
	position: absolute;
	left: 1390px;
	top: 100px;
}

.img_frame6 {
	position: absolute;
	left: 1265px;
	top: -10px;
}

.img_frame_left_up {
	position: absolute;
	left:200px;
    top: 290px;
}

.img_frame_right_up {
	position: absolute;
	left:820px;
    top: 290px;
}

.img_frame_left_down {
    position: absolute;
	left:200px;
    top: 530px;
}

.img_frame_right_down {
    position: absolute;
	left:665px;
    top: 530px;
}


